@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.doctor-show-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.selected-doctor-container h1 {
    background: #1b1e24;
    color: #D5DDE5;
    font-size: 18px;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-weight: 200;
    padding: 18px;
    border-bottom:4px solid #9ea7af;
}

.doctor-show-container p {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 3px;
    border-bottom: 1px solid #C1C3D1;
    
}


.doctor-show-container p:nth-child(odd) {
    background: #E8E8E8;
}

.doctor-show-container p:nth-child(even) {
    background: #FFFFFF;
}

.similar-doctors {
    margin-top: 10px;
}